@font-face {
  font-family: "Hanken";
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Hanken";
}

/* LEFT SECTION */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 450px;
  width: 600px;
  position: relative;
  border: 1px solid blue;
  border-radius: 2rem;
}
.sopra {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  border: 1px solid black;
  border-radius: 2rem;
}
h1 {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  height: 10rem;
  width: 10rem;
  border: 1px solid green;
  border-radius: 50%;
}
.main-number {
  font-size: 3.5rem;
  font-weight: 900;
}
.second-number {
}

h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
}

p {
  text-align: center;
  margin: 1rem 3rem 1rem 3rem;
}

/* RIGHT SECTION */

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid black;
}

.right-section h1 {
  margin-bottom: 2rem;
}

.items {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.item {
  padding: 1rem 0.7rem 1rem 0.7rem;
  border: 1px solid salmon;
  border-radius: 0.6rem;
  width: 13rem;
  display: flex;
  align-items: center;
  position: relative;
}

.score {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.continue {
  background-color: rgb(48, 59, 89);
  margin-top: 1rem;
  padding: 0.7rem 5rem 0.7rem 5rem;
  border-radius: 2rem;
  color: white;
}
